@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');
.name{
    font-family: "Cinzel", serif;
    color: rgb(142, 62, 69);
    text-align: center;
    font-size: 100px;
    
}
.C{
    color: rgb(52, 3, 4);
}
.c{
    color: rgb(52, 3, 4);
}
.food{
    margin-left: 500px;
    height: 300px;
    position: relative;
    bottom: 60px;
}
.pos2{
    position: relative;
    bottom: 60px;
}
