.p2c{
    color: rgb(79, 12, 12);
}
.container{
    margin: 30px 0px 0px 250px;
    width: 1200px;
}
.main{
    background-color: beige;
    height: 500px;
    width:300px;
    display: inline-block;
    border-style: groove;
    border-color: brown;
    border-width: 10px;
    
}
.but2{
    margin-left:100px;
    height: 30px;
    border: 3px solid brown;
    border-radius: 20px;
    background-color: rgb(238, 238, 168);
}
.but2:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 10px 10px rgb(248, 248, 117);
}
.but1{
    margin-left: 30px;
    
    height: 30px;
    border: 3px solid brown;
    border-radius: 20px;
    background-color: rgb(238, 238, 168);
}
.but1:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 10px 10px rgb(248, 248, 117);
}
.icon{
    height: 70px;
    margin-left: 90px;
    margin-bottom: 30px;
    border-radius: 20px;

}
.img2{
    height: 200px;
    width: 100%;
}
.img-2{
    height: 200px;
    width: 100%;
}
.img_2{
    height: 200px;
    width: 100%;
}
.img3{
    height: 200px;
    width: 100%;
}
.img4{
    height: 200px;
    width: 100%;
}
.img5{
    height: 200px;
    width: 100%;
}
